.off {
    background: #F8F9FB;

    &__in {
        padding: 70px 0;
    }

    &__title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 46px;
        line-height: 48px;
        letter-spacing: -0.04em;
        text-align: center;
        font-family: 'TTFirsNeue';
    }

    &__body {
        &_item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


}

@media (max-width: 768px) {
    .off {
        &__in {
            padding: 50px 0;
        }
        &__title {
            font-size: 30px;
            line-height: 30px;
        }
        &__body {
            &_item {
                margin-bottom: 25px;
            }
        }
    }
}