<div class="product">
    <div class="product__in">
        <div class="product__main">
            <div class="product__main_vendor">
                <img src="./img/icons/prod-logo-1.svg" alt="">
            </div>
            <div class="product__main_img">
                <picture>
                    <source srcset="" type="image/webp">
                    <img src="./img/prod-1.png" alt="">
                </picture>
            </div>
        </div>
        <div class="product__body">
            <h3 class="product__body_name">   
                Сервер HPE DL380 Gen10 
                P24846-B21
            </h3>
            <div class="product__body_text">
                1(up2)x 6226R Xeon-G 16C 2.9GHz, 1x32GB-R DDR4, S100i/ZM (RAID 0,1,5,10) noHDD (8/24+6 SFF 2.5" HP) 1x800W (up2), 2x 10Gb 562FLR-SFP+, noDVD, iLO5, Rack2U, 3-3-3 
            </div>
            <div class="product__body_price">
                10 000 $
            </div>
            <div class="product__body_action">
                <button class="product__body_action_btn button">
                    <div class="button__text">Запросить полный прайс-лист на сервера</div>
                    <div class="button__icon"></div>
                </button>
            </div>
            <div class="product__body_ex">Еще 23 позиции серверов в прайс-листе</div>
        </div>
    </div>
</div>